<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" href="/">
      <img src="/icons/gamepad-directional.svg" alt="" class="me-2" />
      Games Inventory App
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3" aria-current="page">
          <a href="/" class="nav-link d-flex active">
            <img src="/icons/layout-dashboard.svg" alt="" class="me-2" />
            Dashboard
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/developers" class="nav-link d-flex">
            <img src="/icons/code.svg" alt="" class="me-2" />
            Developers
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/genres" class="nav-link d-flex">
            <img src="/icons/drama.svg" alt="" class="me-2" />
            Genres
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/platforms" class="nav-link d-flex">
            <img src="/icons/gamepad-2.svg" alt="" class="me-2" />
            Platforms
          </a>
        </li>

        <li class="nav-item" aria-current="page">
          <a href="/modes" class="nav-link d-flex">
            <img src="/icons/users.svg" alt="" class="me-2" />
            Modes
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
