<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <i data-lucide="gamepad-directional"></i>
      Games Inventory App
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3" aria-current="page">
          <a href="/" class="nav-link active">
            <i data-lucide="layout-dashboard"></i>
            Dashboard
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/genres" class="nav-link">
            <i data-lucide="drama"></i>
            Genres
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/platforms" class="nav-link">
            <i data-lucide="gamepad-2"></i>
            Platforms
          </a>
        </li>
        <li class="nav-item me-3" aria-current="page">
          <a href="/developers" class="nav-link">
            <i data-lucide="code"></i>
            Developers
          </a>
        </li>
        <li class="nav-item" aria-current="page">
          <a href="/modes" class="nav-link">
            <i data-lucide="users"></i>
            Modes
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
