<div class="container-xxl">
  <h1><%= title %></h1>
  <%- include("./partials/errors.ejs") %>
  <form action="/genres/create" method="post" class="bg-white p-4 mt-4 rounded-4">
    <div class="mb-5">
      <label for="genreName" class="form-label fs-5" aria-describedby="genreNameHelpBlock">Name</label>
      <input type="text" id="genreName" class="form-control" name="genreName" autocomplete="off" />
      <div id="genreNameHelpBlock" class="form-text mt-2">Name must only contain letters, numbers, '/&-</div>
    </div>
    <div class="d-flex justify-content-end"><button type="submit" class="btn btn-primary btn-lg">Submit</button></div>
  </form>
</div>
