<div class="text-center">
    <% if(locals.error) { %>
        <img src="/icons/circle-alert.svg" alt="" class="w-64 h-64 mb-2" />
        <h1><%= error.statusCode %> - <%= error.message %></h1>
        <a href="/">Back to dashboard</a>
    <% } %>
</div>
